<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
   
      <a class="navbar-brand" href="#">App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" >
            <a class="nav-link"  *ngIf="authService.verificar" [routerLink]="['/home']">Home</a>
          </li>

          <li class="nav-item"   >
            <a class="nav-link" *ngIf="authService.verificar"  [routerLink]="['/profile']">profile</a>
          </li>

          <li>
            <a class="nav-link" [ngStyle]="{'cursor':'pointer'}" *ngIf="authService.verificar"  (click)="logout()">salir</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  *ngIf="!authService.verificar" [routerLink]="['/login']">login</a>
          </li>
         
        </ul>
      </div>

  </div>
</nav>