<div class="row">
 <div class="col-md-4 mx-auto mt-5">
  <div class="card">
    <h4 class="m-2">Login</h4>
    <div class="card-body">
        <form [formGroup]="inputValue" (submit)="send()" >
           <div class="input-group mb-3">
              <input type="text" name="email" formControlName="email" placeholder="email" class="form-control"  >
           </div>

           <div class="input-group mb-3">
             <input type="password" name="password"  formControlName="password" placeholder="password" class="form-control"  >
          </div>
            <div class="d-grid">
              <button class="btn btn-primary">send</button>
            </div>
        </form>
    </div>
 </div>
 </div>
</div>